/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: inline-block;
    font-size: 28px;
    margin: 0;
}

header .logo span {
    color: pink;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #ffdd57;
}

section {
    padding- left: 20px;
    text-align:center ;
    background-color: #fff;
    margin-top: 70px;
}

#home {
    display: flex;
    align-items: center;
    justify-content:space-around ;
    background-color: #007acc;
    color: #fff;
    padding: 100px 20px;
}

#home .content {
    max-width: 600px;
}

#home .content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

#home .content h1 span {
    color: #ffdd57;
}

#home .profile-image img {
    max-width: 300px;
    border-radius: 50%;
    border: 5px solid #ffdd57;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    margin: 10px 15px;
    background-color: #007acc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 14px;
}